on: [push]

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish Logseq graph
    steps:
      - uses: actions/checkout@v3
      - uses: logseq/publish-spa@v0.3.0
      - name: add a nojekyll file # to make sure asset paths are correctly identified
        run: touch $GITHUB_WORKSPACE/www/.nojekyll
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: www
